.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.dropdown-label {
  margin-bottom: 5px;
}


.double-dropdown{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown-container {
  text-align: left;
  position: relative;
  width: 100%;
  border: 0px;
}

.drop-down-seperator{
  width:50%;
}

.dropdown-input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #D1D2D3;
  color: grey;
  padding: .3em 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-selected-value {
  padding: 0.3em 0;
  color: grey;
  font-size: 15px;
  font-weight: 400;
}

.dropdown-menu{
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 120;
}

.dropdown-item{
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover{
  background-color: #9fc3f870;
}
