.chat-card-container {
  width: 90%;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-card {
background-color: #F1F2F3;
border-radius: 16px;
height: 100%;
width: 100%;
box-shadow: 10px 10px 10px rgba(34, 35, 58, 0.2);
border-radius: 8px;
display: flex;
align-items: center;
}

.chat-card-active {
  background-color: #F1F2F3;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(34, 35, 58, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 2px solid #1EDC98;
  }

.chat-card:hover {
  background-color: #eee7e7;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.chat-card-avatar {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-card-picture {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-card-letter {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  color: white;
  background-color: #1EDC98;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.chat-card-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85px;
  overflow: hidden;
  margin-left: 3px;
}

.chat-card-username {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  align-self: start;
}

.chat-card-last-message {
  font-size: 14px;
  font-weight: 400;
  color: #9e9e9edc;
  align-self: flex-start;
  margin-top: 15px;
  overflow: hidden;
  width: ;
}