.log-in {
  width: 550px;
  border-radius: 25px;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.login-in-button {
  margin-top: 40px;
  width: 70%;
}

.login-line {
  width: 80%;
  height: 1.5px;
  background-color: #1EDC98;
  margin-top: 40px;
}

