.items-page {
  display: flex
}

.filter-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.95;
  border-right: #D1D2D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  left:0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: black;
}

.filter-line {
  width: 80%;
  height: 1px;
  background-color: #D1D2D3;
  margin-bottom: 5px;
  margin-top: 5px;
}

.filter-line-thick {
  width: 80%;
  height: 2px;
  background-color: #D1D2D3;
}

.filter-close{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  color:#1EDC98
}

.filter-close:hover{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  font-weight: 800;
  cursor: pointer;
}


.filter-close{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 400px;
}


.filter-buttons {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.filter-button{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
  cursor: pointer;
  align-self: center;
}

.filter-button:hover{
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  background-color: #1EDC98;
  padding-top:7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.filter-button-clicked{
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  padding-top:7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 8px;

}

.filter-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 80%;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter-title {
  text-align: left;
  margin-bottom: ;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
}

.filter-title:hover {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 700;
  background-color: #1EDC98;
}


.filter-entries {
}

.filter-entry {
  font-weight: 300;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.filter-entry:hover {
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 3px;
  background-color: #1EDC98;

}
