.chat-messaging-send {
  width: 100vh;
  height: 75px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messaging-send-input {
  width: 75vh;
  height: 40px;
  display: flex;
  justify-content: center;
}

.chat-messaging-send-button {
  width: 20vh;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}