.baseInput {
  align-items: start;
}

.baseInput > label {
  margin-bottom: 5px;
}

.baseInput > input {
  height: 30px;
  font-size: px;
  padding: .3em 2em;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
}


