.review-card {
  background-color: #F1F2F3;
  margin-top: 80px;
  border-radius: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.review-card:hover {
  background-color: #eee7e7;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border: 0.4px solid #D1D2D3;
  margin-top: 80px;
  border-radius: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.review-card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top:15px;
  margin-bottom: 25px;
}

.review-card-head-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.review-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: #1EDC98;
}

.review-picture {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.review-card-head-rating{
  margin-right: 20px;
  margin-top: 10px;
}

.review-card-body {
  text-align: left;
  width: 90%;
}

.review-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 34px;
}