.star {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
}
.on {
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #D1D2D3;
}
.off {
  color: grey;
}