.item-page-container {
  margin-left: 7%;
  margin-right: 7%;
  display: flex ;
  justify-content: space-between;
}

.item-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.booking-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-filter {
  margin-top: 20px;
  text-align: left;
  height: 20px;
}

.item-pictures {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-main {
  margin-top: 0px;
  width: 686px;
  display: flex ;
  justify-content: space-between;
  margin-bottom: 35px;
}

.item-main-user{
  width: 80%;
  display: flex ;
  align-items: flex-start;
}

.item-user-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #1EDC98;
  margin: 10px;
  margin-right: 20px;
  border: 1.5px solid #D1D2D3
}

.item-user-picture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.item-user-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  margin-left:20px
}

.item-user-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.details {
  background-color: yellowgreen;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.line {
  width:686px;
  height: 2px;
  background-color: #D1D2D3;
  margin-bottom: 30px;
}

.description-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: left;
}

.description-text {
  width: 686px;
  font-size: 24px;
  text-align: left;
  margin-bottom: 35px;
}

.location-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: left;
}

.location-text {
  width: 686px;
  font-size: 24px;
  text-align: left;
  margin-bottom: 26px;
}

.location-map {
  width: 686px;
  height: 360px;
  border-radius: 16px;
  margin-bottom: 26px;
}

.review-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: left;
}

.review-element{
  width: 686px;
  height: 100px;
  margin-bottom: 26px;
  display: flex;
  align-items: flex-start;
}



.item-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 80px;
}



