.profile-page-container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-cover {
  width: 100%;
  height:300px;
  border-radius: 16px;
  margin-top: 50px;
}

.profile-cover-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  border: 1px solid #d1d2d3;
}

.profile-info {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 225px;
  left: 15%;
  width: 69.8%;
  height: 250px;
  border-radius: 16px;
}

.profile-page-avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 40px;
  border: 1px solid #d1d2d3;
}

.profile-page-letter {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit:cover;
  color: white;
  background-color: #1EDC98;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  border: 1px solid #d1d2d3;
}

.profile-page-picture{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit:cover;
  border: 1px solid #d1d2d3;
}

.profile-page-user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-page-user-info-upper {
  width: 100%;
  height: 50%;
}

.profile-page-user-info-lower {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.username-rating {
  display: flex;
  flex-direction: column;
}

.profile-username {
  height: 50%;
  font-size: 36px;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 15px;
}

.profile-rating {
  height: 50%;
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  text-align: left;
}

.user-button {
  align-self: center;
}

.fullname-location {
  margin-top:175px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 50px;
}

.profile-fullname {
  font-size: 30px;
  font-weight: 500;
}

.fullname-location{
  font-size: 30px;
  font-weight: 500;
}

.items-reviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.items {
  font-size: 24px;
  font-weight: 600;
  margin-right: 15px;
  
}

.items:hover {
  background-color: #1EDC98;
  padding: 10px;

}

.reviews {
  font-size: 24px;
  font-weight: 600;
}

.reviews:hover {
  background-color: #1EDC98;
  padding: 10px;
}

.profile-line {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
}

.profile-items {
  width: 120%;
  display: flex;
  margin-left: 0px;
}


