.green-bg {
  background-color: #1EDC98;
}

.green-text {
  color: #1EDC98;
}

.primary-bg {
  background-color: #ff385c;
}

.light-bg {
  background-color: #ffafbd;
}

.secondary-bg {
  background-color: #5d5d5d;
}

.yellow {
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #D1D2D3;
  font-size: 22px;
}

.yellow-14 {
  color: yellow;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #D1D2D3;
  font-size: 16px;
}

.yellow-18 {
  color: yellow;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #D1D2D3;
  font-size: 19px;
  margin-left:3px;
}

.white-text {
  color: #FFFFFF;
}

.black-text {
  color: black;
}

.light-text {
  color: #ffafbd;
}

.medium-bg {
  background-color: #dddddd;
}

.medium-text {
  color: #dddddd;
}

.dark-bg {
  background-color: #cccccc;
}

.dark-text {
  color: #cccccc;
}

.sp-text {
  color: #bbbbbb;
}

.d-text {
  color: #333333;
}

.twelve {
  font-size: 12px
}