.page {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.text-left {
  text-align: left;
}

.spacer-30 {
  height: 30px;
}

.spacer-25 {
  height: 25px;
}

.spacer-20 {
  height: 20px;
}

.horizontal-spacer-20 {
  width: 20px;
}

.spacer-15 {
  height: 15px;
}

.horizontal-spacer-15 {
  width: 15px;
}

.spacer-10 {
  height: 10px;
}

.horizontal-spacer-10 {
  width: 10px;
}

.spacer-5 {
  height: 5px;
}

.horizontal-spacer-5 {
  width: 5px;
}

.pointer {
  cursor: pointer;
}

.width-400 {
  width: 400px;
}

.width-300 {
  width: 300px;
}

.width-250 {
  width: 250px;
}

.width-225 {
  width: 225px;
}