.item-main-picture {
  background-color: blue;
  width: 686px;
  height: 536px;
  margin-top: 20px;
  border-radius: 16px;
}

.item-main-img{
  object-fit: cover;
  width: 686px;
  height: 536px;
  border-radius: 16px;
  border: 1.5px solid #D1D2D3
}

.item-other-pictures {
  width: 686px;
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
}

.item-other-picture {
  background-color: orange;
  width: 124px;
  height: 107px;
  border-radius: 16px;
  margin-right: 10px;
  border: 1.5px solid #D1D2D3

}

.item-other-img {
  object-fit: cover;
  width: 124px;
  height: 107px;
  border-radius: 16px;
}