.items-page {
  display: flex;
}


.profile-display {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-self: center;
}

.profile-display-items {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
}

.all-display-page{
  margin-top: 30px;
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.all-display-filter{
  align-self: flex-start;
  margin-left: 75px;
}

.all-display {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}