.add-review-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  align-self: flex-start;
  background-color: #F1F2F3;
  border-radius: 25px;
}

.add-review-container:hover {
  background-color: #eee7e7;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border: 0.4px solid #D1D2D3;
}

.add-review-stars{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  margin-top: 25px;
}

.add-review-input{
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.add-review-button {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 35px;
}