.login-page-container {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-page-header{
  color: #1EDC98;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: D1D2D3;
  margin-top: 20px;
  font-size: 68px; 
  font-weight: bold;
  width: 120%;
}