
.baseButton {
  font-size: 16px;
  width: 190px;
  height: 50px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 8px;
}

/*.baseButton:hover {

}
.baseButton:active {

}*/


.baseButtonAlternative {
  height: 35px;
  width: 100px;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
}

/*.baseButton:hover {

}
.baseButton:active {

}*/

.baseButtonAlternative2 {
  font-size: 20px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 0px;
}

/*.baseButton:hover {

}
.baseButton:active {

}*/

.baseButtonFrom {
  width:49%;
  font-size: 16px;
  height: 55px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 16px 0px 0px 16px;
}

.baseButtonTo {
  width: 49%;
  font-size: 16px;
  height: 55px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 0px 16px 16px 0px ;
}

.baseButtonBook {
  width: 100%;
  font-size: 16px;
  height: 55px;
  cursor: pointer;
  padding: .3em 2em;
  font-weight: bold;  
  border: none;
  border-radius: 16px  ;
}