.register-page-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.register-page {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:
}

.register-page-header{
  font-size: 68px; 
  font-weight: bold;
  margin-left: 10%;
}