.register-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-page {
  background-image: url('../../../assets/authentication.png');
  background-size:cover;
  width: 99.2vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:
}

.register-page-header{
  font-size: 68px; 
  font-weight: bold;
  margin-left: 10%;
}