.baseTextarea {
  align-items: start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.baseTextarea-label {
  margin-bottom: 5px;
}


.base-Textarea {
  font-family: inherit;
  background-color: #FFFFFF;
  height: 100px;
  font-size: px;
  padding: .3em 0;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
  width:568px;
  font-family: inherit;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.baseTextarea-textarea-alternative{
  font-family: inherit;
  background-color: #ffffff;
  height: 120px;
  font-size: 18px;
  padding: .4em 0 0.4em 0;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
  width:100%;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.baseTextarea-textarea-text{
  font-family: inherit;
  background-color: #ffffff;
  height: 120px;
  font-size: 18px;
  padding: .4em 0 0.4em 0;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
  width:100%;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.baseTextarea-textarea-text:hover{
  font-family: inherit;
  background-color: #ffffff;
  height: 120px;
  font-size: 18px;
  padding: .4em 0 0.4em 0;
  border: 1px solid #D1D2D3;
  border-radius: 8px;
  width:100%;
  resize: none;

  padding: 10px;
  box-sizing: border-box;
}





